
/* hero main text */
h2{
    font-size:48px;
    font-style: extra bold;
}
/* header logo text */
h4{
    font-size: 24px;
}
/* hero secondary text, header link text*/
p{
    font-size: 18px;
}

button {
    display: block;
    text-align: center;
    border-radius: 7px;
    padding: 5px;
    width: 110px;
    border-color: white;
    background-color: #3882F6;
    color:white;   
}

#center{
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    gap: 15px;
    height:fit-content;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
 }

 .flex-container .logo {
    flex: 1 1 0%;
}

#light-blue{
    border-radius: 7px;
    background-color: #3882F6;
    padding: 10px;
}
#quote{
    background-color: gray;
    color:black;
    text-align:left;
}
 #dark-blue {
    background-color: #1F2937;
 }

